body{
    font-family: Roboto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    padding: 0 12px;
    height: 100px;
    flex-shrink: 0;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    /* make font white eventually */
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 300;
}

.hero{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 32px;
    font-weight: 800;
    justify-content: center;
    padding: 16px;
    flex: 1;
}

.text-button{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 40px;
}

.rand-info{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding: 24px;
    font-weight: 900;
    color: #1F2937;
}

.illustration{
    display: flex;
    justify-content: center;
    margin: 4px;
}

.blue-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
    padding: 8px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    flex: 1;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.quote-content{ 
    display: flex;
    width: 600px;
    font-size: 36px;
    color: #1F2937;
}

.credits{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 45%;
    padding: 4px;
    margin: 2px;
}

.sign-up-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.call-to-action{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 122, 255);
    width: 375px;
    height: 125px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    color: white;
    padding: 12px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    flex: 1 0 70;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}


/* added styling that is more for the colors and feel of the page */
.sign-top-button{
    max-width: 75px;
    max-height: 40px;
    background-color: #3882F6;
    color: white;
    padding: 4px;
    border-radius: 8px;
}

.text-button p{
    font-size: 16px;
    font-weight: 200;
}

.hero .placeholder{
    font-size: 20px;
    background-color: gray;
    border: 2px solid black ;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    margin: 20px;
    padding: 10px;
    flex-shrink: 0;
}

.draw{
    max-width: 150px;
    max-height: 150px;
    height: 100px;
    width: 100px;
    border: 4px solid rgb(0, 89, 255);
    border-radius: 8px;
}

.desc{
    font-size: 16px;
    color: black;
    font-weight: 200;
    text-align: center;
}

.background{
    background-color: rgb(0, 122, 255);
    height: auto;
    display: flex;
    width: 100px;
    height: 125px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 12px;
    margin: 12px 0;
}

.sign-bott-button{
    width: 75px;
    height: 35px;
    border-radius: 9px;
}

/* color-font.html styles ||| separate from index.html but in this file */

.color-header{
    color:#3882F6;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    flex: 1 0 100;
    margin: 15px;
    align-items: center ;
}

.top-content{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 24px;
    font-weight: 700;
    font-size: 16px;
}

.dark-background .hex-dark-color{
    font-size: 24px;
    font-weight: 800;
    margin:0;
} 

.hero-main-text .main-text-style{
    font-size: 48px;
    font-weight: 900;
    margin:0;
}

.hero-secondary-text .secondary-text-style{
    font-size: 18px;
    font-weight: 100;
    margin:0;
}

.header-logo .logo-style{
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}
